/* App.css */

.app-container {
  display: flex;
  height: 100vh;
  margin: 0; /* Full viewport height */
}

.vertical-nav {
  width: 250px; /* Fixed width for the sidebar */
  background-color: #343a40; /* Dark background */
  color: white; /* Text color */
  padding: 20px; /* Spacing */
}

.vertical-nav .navbar-brand {
  font-size: 1.5em; /* Brand font size */
  margin-bottom: 20px; /* Space below brand */
}

.navbar-nav {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove padding */
}

.nav-item {
  margin: 10px 0; /* Space between items */
}

.nav-link {
  color: white; /* Link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.2s; /* Smooth color transition */
}

.nav-link:hover {
  color: #ffc107; /* Highlight color on hover */
}

.content {
  flex: 1; /* Take remaining space */
  padding: 20px; /* Spacing around content */
  background-color: #f8f9fa; /* Light background */
  overflow-y: auto; /* Allow scrolling if content overflows */
}
/* App.css */

.ms-2 {
  margin-left: 10px;
}

.table input {
  width: 100%;
}

.table td,
.table th {
  text-align: center;
}
